@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;600;700&display=swap");
:root {
  --primaryBlue: #4c6ef5;
  --secondaryBlue: #364fc7;
  --grey-1: #191c1f;
  --grey2: #212529;
  --grey3: #343a40;
  --grey4: #adb5bd;
  --grey5: #ced4da;
  --grey6: #edf2ff;
  --fontFamily: "Inter", sans-serif;
}
body {
  font-family: var(--fontFamily);
  width: 100vw;
  background-color: var(--grey2);
  height: 300vh;
  overflow-x: hidden;
}
.header {
  width: 100%;
  height: 70px;
  background-color: var(--grey-1);
  color: var(--grey6);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 150px;
  border-bottom: 2px solid var(--primaryBlue);
  position: fixed;
  top: 0;
  left: 0;
}
.header__title,
.footer__text {
  font-weight: 600;
  font-size: 16px;
}
.header__button {
  width: 20%;
  padding: 15px 20px;
  background-color: transparent;
  color: var(--grey6);
  border: 1px solid var(--grey6);
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}
.intro {
  margin-top: 70px;
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
}
.intro__container {
  margin: 0 auto;
  width: 90%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.intro__title {
  font-weight: 600;
  font-size: 45px;
  color: var(--grey6);
}
.intro__title--highlight {
  color: var(--primaryBlue);
}
.intro__text {
  max-width: 60%;
  color: var(--grey4);
  text-align: center;
  line-height: 150%;
}
.intro__button {
  background-color: var(--primaryBlue);
  padding: 15px 20px;
  border: transparent;
  color: var(--grey6);
  cursor: pointer;
}
.about-us {
  height: 200px;
  width: 100%;
  background-color: var(--grey-1);
}
.about-us__container {
  margin: 0 auto;
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 0 50px;
}
.about-us__title {
  font-size: 26px;
  color: var(--grey6);
  width: 70%;
  font-weight: 600;
}
.about-us__text {
  color: var(--grey5);
  width: 60%;
  line-height: 150%;
  font-size: 15px;
}
.faq {
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: space-evenly;
  padding: 50px;
}
.faq__title-container {
  width: 30%;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.faq__title {
  color: var(--grey6);
  font-weight: 600;
  font-size: 30px;
}
.faq__text {
  color: var(--grey4);
  font-size: 14px;
  line-height: 150%;
}
.faq__button {
  padding: 15px;
  width: 55%;
  background-color: var(--primaryBlue);
  border: transparent;
  color: var(--grey6);
  cursor: pointer;
}
.questions {
  width: 40%;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 35px;
}
.questions__container {
  height: 20%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.question__title {
  font-weight: 600;
  text-align: center;
  color: var(--grey6);
  font-size: 20px;
}
.question__answer {
  font-size: 14px;
  color: var(--grey4);
  line-height: 150%;
}
.coments {
  margin-top: 60px;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-evenly;
  padding: 0 30px;
}
.coments__title-container {
  width: 28%;
  height: 60%;
  padding: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--primaryBlue);
}
.coments__title {
  color: var(--grey6);
  font-weight: 600;
  font-size: 25px;
}
.coments__description {
  line-height: 150%;
  color: var(--grey6);
  font-size: 14px;
}
.coments__container {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.coments__content {
  width: 100%;
  display: flex;
  height: 25%;
}
.coments__id {
  width: 40%;
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.coments__text {
  width: 60%;
  color: var(--grey6);
  font-size: 13px;
  line-height: 150%;
}
.coment__name {
  font-size: 20px;
  color: var(--grey6);
}
.coment__class {
  font-size: 14px;
  color: var(--grey4);
}
.footer {
  width: 100%;
  height: 60px;
  background-color: var(--grey-1);
  color: var(--grey6);
  display: flex;
  align-items: center;
  justify-content: center;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: darkgrey;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.modal__container {
  height: 350px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--grey2);
  border: 2px solid var(--primaryBlue);
}
.modal__header {
  width: 90%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal__title {
  color: var(--grey6);
  font-weight: 600;
  font-size: 18px;
}
.modal__close {
  background-color: var(--grey3);
  color: var(--grey4);
  border: transparent;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}
.modal__description {
  width: 90%;
  line-height: 150%;
  color: var(--grey5);
  font-size: 16px;
}
.modal__input {
  width: 90%;
  height: 13%;
  background-color: var(--grey-1);
  border: transparent;
}

.modal__button {
  width: 90%;
  background-color: var(--primaryBlue);
  border: transparent;
  color: var(--grey6);
  height: 15%;
  font-weight: 500;
  cursor: pointer;
}
.modal__close:hover {
  border: 1px solid var(--primaryBlue);
}
